@import './base.scss';
@import './mixin.scss';
@import './variable.scss';
@import './iconfont.scss';

html {
    font-size: 100px;
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}


body {
    font-size: 0.12rem;
}